@font-face {
    font-family: arBold;
    src:url("ArbFonts/arbFonts-Bold.ttf");
}
@font-face {
    font-family: arReguler;
    src:url("ArbFonts/arbFonts-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: arReguler;
}
/* ************* Start Local*********************** */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(182, 181, 181, 0.075);
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f8c923;
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f8ca23d0;
}
.my-container{
    width: 100%;
    padding-left: 2.75rem;
    padding-right: 1.75rem;
    margin-left: auto;
    margin-right: auto;
}
.news{
    overflow: hidden;
    position: relative;
    padding: 1px;
}
.img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
    height: 100%;
}
/* .img-container:not(.news-details .img-container):hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.img-container:not( :hover ) img{
    transition: all .3s ease-in-out ;
} */

.img-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("../images/qq.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.type{
    position: absolute;
    top: 5px;
    right: 3px;
    background-color: #3b9ee2;
    color: white;
    padding: 0 5px;
    z-index: 9999;
}
.bottom-type{
    color: #111;
    border-right: 5px solid rgb(94, 19, 19);
    font-size: 14px;
    font-family: "arBold";
    margin: 1px 5px 10px 5px;
    padding-right: 5px;
    display: block;
    height: 20px;
}
.privet{
    background-color: #03285c;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
}
.col-4{
    overflow: hidden;
}

h6 a{
    font-family: "arBold";
    color: #333;
}

.events-news-title h6 a:hover{
    color: #0a58ca !important;
}
.type-title{
    width: 100%;
    height: 30px;
    border-right: 6px solid #f8c923;
    margin: 5px 5px 15px;
    padding: 5px;
    display: block;
}
.type-title a{
    color: #333;
    font-family: "arBold";
    margin: auto 10px;
    font-size: 20px;
}
.type-title a i{
    margin: auto 30px;
    color: #ccc;
}
.type-title a:hover i{
    color: #f8c923;
}

.fa-youtube:hover{color: #FF0000;}
.fa-facebook-f:hover{color: #175dad;}
.fa-twitter:hover{color: #4bc3f3;}
.fa-instagram:hover{color: #970c0c;}
/* ************** End Local ******************** */
/* Start top-nav */
.top-nav{
    padding: 5px 20px;
    background-color: #222;
    color: white;
    border-bottom: 1px solid #f8c923;
}
.top-nav .row{
    width: 100%;
}
.top-nav .row .login{
    text-align: left;
}
.top-nav .row .login a{
    color: #f8c923;
    padding: 2px 5px;
}
.top-nav .row .login a:hover{
    color: #a17f01;
}
/* End top-nav */
/* Start breaking-news */
.breaking-news{
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 80px;
    width: 100%;
    z-index: 99999;
    background-color: whitesmoke;
    border-top: 2px solid #f8c923;
    /* display: none; */
}
.breaking-news .my-container{
    margin: 20px auto;
}
.breaking-news .breaking{
    text-align: center;
}
.breaking-news .breaking span{
    color: red;
    font-family: "arBold";
    font-size: 25px;
    margin-left: 20px;
}
.breaking-news .breaking i{
    color:#f8c923;
}

.breaking-news .breaking-title p{
    font-size: 22px;
    color: #333;
}
.breaking-news .close{
    color: #ddd;
    text-align: left;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
}
.breaking-news .close:hover{color: #ccc;}
/* End breaking-news */
/* Start nav-container */
.save-height{
    height: 70px;
}
.nav-container{
    width: 100%;
    /* padding: 0; */
    position: relative;
    z-index: 99999;
}


.nav-container .navbar{
    background-color: #01204f;
    height: 60px;
    margin-top: 35px;
    padding-right: 20px;
}
.nav-container .logo {
    width: 160px;
    margin: auto 30px;
}
.nav-container .logo .for-fixed{
    width: 100%;
    display: none;
}
.nav-container .logo .circle{
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: -30px;
    margin-left: 50px;
    overflow: hidden
}
.nav-container .logo .circle img{
    width: 350px;
    margin-top: 12px;
    margin-right: 12px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-nav .nav-item{
    margin: auto 5px;
}
.dropdown-toggle::after{
    vertical-align: 0;
}
.navbar-nav{
    height: 60px;
}

.dropdown-menu{
    top: 123%;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    background-color: #f8c923;
}
.nav-container .navbar .social{
    position: absolute;
    left: 50px;
}
.nav-container .navbar .social .search-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
.nav-container .navbar .social .search-form form{
    position: relative;
}
.nav-container .navbar .social .search-form input{
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 30px;
    padding: 10px 15px;
    font-size: 14px;
}
.nav-container .navbar .social .search-form form i{
    position: absolute;
    top: 7px;
    left: 10px;
    cursor: pointer;
}
.nav-container .navbar .social .search-form form i:hover{
    color: darkcyan;
}


.nav-container .navbar .social .fa-search,
.nav-container .navbar .social a{
    margin: auto 10px;
    color: white;
    
}
.nav-container .navbar .social .fa-search:hover{
    color: rgb(249, 253, 19);
}

.nav-container .above-links{
    position: absolute;
    left: 50px;
    top: -25px;
}
.nav-container .above-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 5px;
    margin: 2px;
}

.nav-container .above-links .economic{
    background-color: rgb(5, 182, 182);
    border-right: 3px solid rgb(1, 206, 206);
}
.nav-container .above-links .economic:hover{
    background-color: rgb(1, 206, 206);
}
.nav-container .above-links .live{
    background-color: #ac0000;
    border-right: 3px solid #cb0000;
}
.nav-container .above-links .live:hover{
    background-color: #cb0000;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(248, 201, 35)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border: none
} 
.custom-toggler.navbar-toggler:focus {
    box-shadow: none;
} 
/* End nav-container */

/* Start header */
.header{
    width: 100%;
    margin: 30px 0 5PX;
    /* height: 120px; */
}

.header .img-container{
    margin: auto 5px;
    border-radius: 5px;
    overflow: hidden;
    height: 120px;
    width: 95%;
    position: relative;
}
.header .news-title{
    font-size: 14px;
    width: 100%;
    
}

.other .news-title:hover,
.main-news .news-title:hover,
.header .news-title:hover{
    text-decoration: underline;
    color: white;
}

/* End header */
.news-title{
    position: absolute;
    bottom: 0;
    right: 1px;
    padding: 20px;
    color: white;
    font-family: "arBold";
    width: 90%;
    background-image: linear-gradient(0deg, #000000b8, rgba(0,0,0,0.7), rgba(0,0,0,0));
    width: 100%;
}
/* Start Main News */
.main-news{
    width: 100%;
    margin: 10px auto;
    position: relative;
    padding: 0 10px;
}
.main-news img{
    width: 100%;
    margin: 0 auto;
}

/* End Main News */

/* Start weather */
.weather{
    width: 100%;
    background-color: #01204f;
    height: 80px;
    margin: 10px auto;
    color: white;
    padding: 10px;
}
.weather .weather-info{
    /* margin: 10px auto; */
    text-align: right;
}
.weather .weather-info img{
    width: 90%;
    border-radius: 10px;
    margin-top: -5px;
}
.weather .weather-info form select:focus{
    outline: none;
    box-shadow: none;
}
.weather .weather-info form select{
    background: none;
    -o-border: none;
    -moz-border: none;
    -webkit-border: none;
    border: none;
    color: white;
    font-size: 25px;
    outline: none;
    -o-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.weather form select option{
    color: #333;
    font-size: 14px;
}
.weather form select option:hover{
    color: #1e2125;
    background-color: #e9ecef !important
}
.weather .weather-info .col-4{
    overflow: visible;
}
.weather .weather-info i{
    margin: 10px auto;
}
.weather .weather-info p{
    margin: 0;
    font-size: 16px;
}
.weather .coins-info .sall,
.weather .weather-info .day{
    color: #f8c923;
    font-family: "arBold";
}

.weather .coins-info .row div:not(:first-of-type){
    margin-top: 10px;
}
.weather .coins-info .bank p{
    margin: 0;
    text-align: center;
    font-family: "arBold";
    text-transform: uppercase;
}
.weather .coins-info form select:focus{
    outline: none;
}
.weather .coins-info form select{
    background: none;
    border: none;
    color: #f8c923;
}
.weather .coins-info .col-3{
    padding: 0;
    padding-top: 5px;
}
.weather .coins-info .sall{
    margin: auto 5px;
}
/* End weather */
/* adds */
.adds{
    margin: 20px 50px;
}
.adds img{
    width: 100%;
}
/* adds */


/* Start events */

.events{
    padding: 0 10px;
}
.events a{
    text-decoration: none;
}
.events .img-container{
    height: 190px;
    overflow: hidden;
}
.events .img-container img{
    height: 100%;
    margin: auto;
}
.events .events-news {
    margin: 5px auto;
    padding: 5px;
}
.latest-news-title,
.events .events-news .events-news-title{
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 5px 10px;
    color: #333;
    overflow: hidden;
}
.events .events-news .events-news-title h6{
    color: #333;
    font-family: "arBold";
    margin: 3px;
    font-size: 18px;
}
.events .events-news:hover h6{
    color: #2fa4f1;;
}
/* End events */
/* Start titles */

.titles .titles-news{
    height: 80px;
    /* background-color: white; */
    margin: 5px auto;
}
.titles .titles-news .row{
    margin: auto;
    height: 100%;
}
.titles .titles-news .row > div{
    padding: 0;
}
.titles .titles-news img{
    width: 100%;
}
.titles .titles-news .events-news-title{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 5px 10px;
}
.titles .titles-news .events-news-title a{
    color: #333;
    font-family: "arBold";
}
/* End titles */
/* Start Othe */
.other{
    margin: 10px auto;
    
    
}
.bg-off{
    background-color: rgb(247, 245, 245);
}
.other .news{
    height: 220px;
}
.other .news img{
    width: 100%;
}

.other .other-news{
    height: 100px;
    /* background-color: white; */
    margin: 15px auto;
    position: relative;
    overflow: hidden;
}
.other .other-news .row{
    margin: auto;
    height: 100%;
}
.other .other-news .row > div{
    padding: 0;
}
.other .other-news img{
    width: 100%;
    height: 100%;
}
.other .other-news .events-news-title{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 5px 10px;
    color: #333;
    
}
.other .other-news .events-news-title h6{
    font-family: "arBold";
    margin: 25px auto;
}
.opinion{
    height: 200px;
    overflow: hidden;
    border-top: 2px solid rgb(247, 245, 245);
    border-bottom: 2px solid rgb(247, 245, 245);
    margin: 10px auto;
    background-color: #FFF;
}
.opinion .type-title{
    margin-bottom: 20px;
}

.opinion img{
    width: 100%;
}
.opinion .writer-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.opinion .writer-content {
    margin: 10px auto;
}
.opinion .writer-content p:hover {
    color: rgb(2, 158, 145);
}
.opinion .writer-content h6{
    font-family: "arBold";
    color: rgb(2, 158, 145);
}
.opinion .writer-content p{
    color: #333;
    width: 90%;
}
/* End Othe */


/* youtube-channal */
.youtube-channal{
    background-color: #333;
    overflow: hidden;
    height: 620px;
    padding: 10px;
}
.youtube-channal .main-video{
    height: 540px;
}
.youtube-channal .main-video iframe{
    /* width: 100%; */
    height: 100%;
}
.youtube-channal .video-list .play{
    position: relative;
}
.youtube-channal .video-list .play span,
.youtube-channal .video-list .play i{
    color: #a50707;
    position: absolute;
    top: 25%;
    left: 43%;
    background: #ffffff63;
    padding: 5px;
}
.youtube-channal .video-list .play span{
    left: 30%;
    color: #000;
    font-family: "arBold";
    display: none;
}
.youtube-channal .video-list{
    padding: 5px;
    height: 100%;
}

.youtube-channal .video-list ul{
    list-style: none;
    padding: 0;
    color: white;
    height: 540px;
    overflow-y: scroll;
}
.youtube-channal .video-list ul li{
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px auto;
    background-color: rgb(56, 56, 56);
}
.youtube-channal .video-list ul li:hover i{
    color: red;
}
.youtube-channal .video-list ul li:hover{
    background-color: rgb(90, 90, 90);
}
.youtube-channal .video-list ul li video{
    width: 100%;
    margin: auto;
}
.youtube-channal .video-list ul li .classification{
    display: block;
    padding-right: 10px;
    border-right: 4px solid #ac0000;
    height: 20px;
    margin: 10px 0;
    width: 70%;
}
.youtube-channal .video-list ul li .vid-name{
    width: 90%;
}
/* youtube-channal */


/* Start Footer */
.rights,
.footer {
    border-bottom: 2px solid rgb(243, 243, 243);
}
.footer .apps-social{
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid rgb(243, 243, 243);
}
.footer .apps-social .apps{
    text-align: center;
}
.footer .apps-social .apps p{
    font-family: "arBold";
    font-size: 14px;
    margin: 10px auto;
}
.footer .apps-social .apps svg{
    width: 130px;
    height: 50px;
}
.apps-social .social{
    text-align: left;
}
.footer .apps-social .social a{
    margin: 10px;
    font-size: 20px;
    color: #333;
}
.footer-links{
    border-left: 2px solid rgb(238, 238, 238);
}
.footer .parts{
    text-align: right;
    margin: 20px auto;
}
.footer .parts h6{
    font-family: "arBold";
    color: #444;
}
.footer .parts .page-name{
    color: #333;
}

.footer .parts ul{
    list-style: none;
    padding: 0;
}
.footer .parts a{
    color: #333;
}
.footer .parts a:hover{
    color: #2fa4f1;
}

.footer .send-email{
    margin: 10px auto;
    width: 90%;
    min-height: 200px;
    background-color: #e9eef1;
    padding: 20px;
}
.footer .send-email p{
    font-family: "arBold";
}
.footer .send-email span{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


.footer .send-email form input{
    display: block;
    width: 90%;
    margin: 20px 10px 10px;
    height: 35px;
    border: none;
    text-align: right;
    padding: 5px 10px;
}
.footer .send-email form button{
    display: block;
    width: 90%;
    margin: 0 10px;
    height: 35px;
    border: none;
    text-align: center;
    padding: 5px 10px;
    background-color: #ae1300;
    color: white;
}
/* End Footer */
/* Start rights */
.rights{
    height: 50px;
    padding: 10px 0;
    margin-bottom: 20px;
}
.rights img{
    width: 100px;
    margin: auto 100px;
}
.rights span{
    margin: auto;
    color: #444;
}
/* End rights */


/* ***************************** start second page********************************** */
.news-details-social{
    width: 70px;
    position: fixed;
    right: 10px;
    top: 200px;
    /* overflow: hidden; */
    z-index: 999;
    display: none;
}
.news-details-social div{
    margin: 20px 5px;
}
.news-details-social div:hover svg{
    transform: scale(1.1);
}
.news-details-social div svg{
    width: 30px;
    height: 30px;
}
#ShareButton{
    position: relative;
    cursor: pointer;
}
#ShareButton #copy-done{
    position: absolute;
    left: -80px;
    top: 10px;
    background-color: whitesmoke;
    padding: 2px 5px;
    color: green;
    border-radius: 5px;
    display: none;
}
.path{
    width: 100%;
    min-height: 40px;
    background-color: rgb(236, 236, 236);
    padding: 5px 20px;
    margin: 20px auto;
}
.path a{
    color: #333;
    font-family: "arBold";
}
.path a:hover{
    text-decoration: underline;
}
.path p{
    display: inline-block;
}

.news-details{
    padding: 0 20px;
}
.news-details .content{
    padding-right: 20px;
}
.news-details span{
    font-size: 12px;
}
.news-details span .area{
    color: rgb(255, 174, 0);
}
.news-details .img-container{
    margin: 20px auto;
    /* height: 500px; */
}
.news-details .events-news{
    padding: 5px;
}
.news-details .events-news a .border-div{
    margin: 2px;
    border: 2px solid rgb(236, 236, 236);
}
.news-details .events-news .img-container{
    margin: 0 auto;
    height: 130px;
}
.news-details .events-news .events-news-title{
    height: 120px;
}
/* .news-details .events-news .events-news-title span{
    color: #111;
    border-right: 5px solid rgb(94, 19, 19);
    font-size: 14px;
    font-family: "arBold";
    margin: 1px 5px 10px 5px;
    padding-right: 5px;
    display: block;
    height: 20px;
} */
.news-details .events-news h6{
    color: #333;
    font-family: "arBold";
    margin: 3px;
    margin-right: 10px;
    font-size: 18px;
}
.news-details .events-news:hover h6{
    color: #0a58ca;
}

.news-details .img-container img{
    width: 100%;
    height: 95%;
}
.news-details .img-container span{
    display: block;
    text-align: center;
    color: #666;
}

.news-details .news-body{
    font-size: 18px;
}

.latest-news {
    height: 110px;
    overflow: hidden;
    margin-top: 10px;
    border-top: 1px solid rgb(236, 236, 236);
    padding-top: 10px;
}
.latest-news div{
    padding: 0;
    height: 100%;
}
.latest-news img{
    width: 100%;
    height: 100%;
}
.margin-bottom{
    margin-bottom: 30px;
}
.latest-news .latest-news-title{
    height: 100%;
}
.latest-news .latest-news-title h6{
    margin: 0 10px;
}
.latest-news .date{
    font-size: 12px;
    color: #666;
    padding: 0 10px;
}

.path-news-header{
    margin: 0;
}
    /* start news-body cards */
    .news-body .card{
        width: 17rem;
        float: right;
        margin: 15px;
        border: none;
        box-shadow: 0 .2rem 1.5rem 0 rgba(51, 51, 51, 0.2);
    }
    /* .news-body .card .card-body span{
        color: #333;
        padding: 0 5px;
        display: block;
        height: 15px;
        line-height: 1.1;
        border-right: 3px solid #01204f;
    } */
    .news-body .card .card-body h6{
        font-size: 16px;
        font-family: "arBold";
        color: #333;
        margin: 10px auto;
    }
    /* start most read */
    .most-read{
        margin: 50px 10px;
    }
    .most-read .most-read-news{
        margin: 10px auto;
    }
    .most-read .most-read-news a{
        color: #333;
    }
    .most-read .most-read-news .most-read-num{
        display: block;
        width: 20px;
        padding-right: 5px;
        color: white;
        font-weight: bold;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgb(43, 42, 42), rgb(15, 15, 15));
    }
    .most-read .most-read-news h6{
        font-family: "arBold";
        margin: 10px auto;
    }

    .most-read .most-read-news .most-read-info .most-read-type{
        float: right;
        color: #f8c923;
    }
    .most-read .most-read-news .most-read-info .counter{
        float: left;
        color: #666;
    }

    /* Start follow-catigory*/
    .follow-catigory{
        margin: 20px;
    }
    .follow-catigory .follow-us{
        padding: 10px;
        background-color: rgb(243, 243, 243);
        margin: 20px auto;
    }
    .follow-catigory .follow-us svg{
        width: 50px;
        height: 30px;
    }
    .follow-catigory .follow-us span{
        color: #333;
        font-size: 14px;
        margin-right: 10px;
        font-family: "arBold";
    }
    .follow-catigory .catigory .cat{
        padding: 2px 5px;
        margin: 5px 2px;
        border: 1px solid #67a6ff;
        color: #333;
        border-radius: 10px;
        font-size: 14px;
        display: inline-block;
        background: #cce1ff;
    }
/* ***************************** End second page********************************** */
/* ***************************** Start therd page********************************** */
.opinions{
    margin: 20px 0;
}
.opinions .row{
    margin:50px auto;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(241, 241, 241);
}
.opinions .opinions-title{
    margin-bottom: 20px;
}
.opinions .opinion-view{
    height: 140px;
    overflow: hidden;
    margin: 10px auto;
}
.opinions .opinion-view-content,
.opinions .opinion-view-img{
    float: right;
    /* height: 100%; */
}
.opinions .opinion-view-img{
    width: 25%;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
    /* height: 80%; */
}
.opinions .opinion-view-img img{
    width: 100%;
}
.opinions .opinion-view-content{
    width: 70%;
    padding-right: 20px;
    margin: 20px 0;
}
.opinions .opinion-view-content h6{
    font-size: 18px;
    color: #333;
    font-family: "arBold";
}
.opinions .opinion-view-content span{
    font-size: 18px;
    color: #666;
}
.opinions a:hover h6{
    color: #444;
}

/* ***************************** End therd page********************************** */
/* ***************************** start login page********************************** */
.login-content{
    min-height: calc(100vh - 680px);
    padding-top: 40px;
    width: 400px;
    margin: 0 auto;
}
.login-content .login-title{
    margin: 0 auto;
    margin-bottom: 20px;
}
.login-content .login-ways{
    min-height: 270px;
    max-width: none;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 1.5px 3px 0 rgb(0 35 64 / 5%);
    position: relative;
    text-align: right;
    margin: 0 auto;
    height: 370px;
}
.login-content .login-ways .login-ways-content{
    width: 100%;
    margin: 20px auto;
}
.login-content .login-ways .login-ways-content ul{
    list-style: none;
    padding: 0;
}
.login-content .login-ways .login-ways-content ul li button{
    width: 90%;
    height: 50px;
    color: white;
    border-radius: 2px;
    margin: 15px 5%;
    padding: 10px 15px;
    border: none;
    transition: all .1s ease-in-out;
}
.login-content .login-ways .login-ways-content ul li button:hover{
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}
.login-content .login-ways .login-ways-content ul li .e-mail{
    background-color: #333;
}
.login-content .login-ways .login-ways-content ul li .facebook{
    background-color: #3b5998;
}
.login-content .login-ways .login-ways-content ul li .twitter{
    background-color: #55acee;
}
.login-content .login-ways .login-ways-content ul li .google{
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
}
.login-content .login-ways .login-ways-content ul li .google .icon{
    color: rgb(224, 2, 2);
}
.login-content .login-ways .login-ways-content ul li .text{
    font-size: 14px;
    float: right;
}
.login-content .login-ways .login-ways-content ul li .icon{
    float: left;
}
.login-content .login-msg{
    margin-top: 20px;
}
.login-content .sellect-log{
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    height: 0;
}

.login-content .sellect-log span{
    cursor: pointer;

}
.login-content .sellect-log .sellect-signup{
    float: left;
}
.login-content .sellect-log .sellect-login{
    float: right;
}
.login-content .new-user{
    width: 90%;
    margin: 30px auto;
    display: none;
}
.login-content .form-title{
    font-family: "arBold";
    border-bottom: 1px solid#f8c923;
}
.login-content .form-check,
.login-content .form-group{
    margin: 10px auto;
}
/* ***************************** End login page********************************** */
/* ***************************** Start video page******************************** */
.vid-cont{
    margin: 30px auto;
}
.vid-cont .main-vid-section{
    background-color: rgb(238, 238, 238);
    border-right: 3px solid #f8c923;
    padding: 10px;
}
.vid-cont .main-vid-section > .row{
    margin: 10px;
}

.vid-cont .main-vid-section .video{
    padding: 1px 5px;
}
.vid-cont .main-vid-section .main-video{
    padding: 0
}
.vid-cont .vid-link{
    position: relative;
}

.vid-cont .vid-link video{
    width: 100%;
    height: 193px;
}
.vid-cont .main-vid-section .main-video video{
    height: auto;
}
.vid-cont .vid-link i{
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* padding: 3px 5px; */
    color: #f8ca23cc;
    font-size: 45px;
    margin-top: -20px;
    margin-right: -15px;
    transition: all .2s ease-in-out;
}
.vid-cont .vid-link:hover i{
    color: #f8c923;
}
.vid-cont .carousel .vid-link h5,
.vid-cont .main-vid-section .vid-link h5{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    color: white;
    background-image: linear-gradient(0deg, #000000b8, rgba(0,0,0,0.7), rgba(0,0,0,0));
}
.vid-cont .newest-vid{
    margin: 30px auto;
}
.vid-cont .newest-vid .video{
    position: relative;
    margin-bottom: 10px;
}
.vid-cont .newest-vid .video::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: auto;
    height: 5px;
    width: calc(100% - 20px);
    border-bottom: 3px solid #f8c923;
    z-index: 1;
    display: none;
}
.vid-cont .newest-vid .video:hover::after{
    display: block;
}
.vid-cont .newest-vid h5{
    color: #333;
}
.vid-cont .top-views{
    margin: 30px auto;
    background-color: #111;
    padding: 10px;
}
.vid-cont .top-views > .row{
    padding: 10px;
    margin: 10px;
}
.vid-cont .top-views .col-6{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
.vid-cont .top-views .video{
    background-color: rgba(37, 37, 37, 0.301);
    padding: 10px 5px;
    /* height: 300px; */
}
.vid-cont .top-views .video:hover{
    background-color:rgba(255, 255, 255, 0.089);
}
.vid-cont .top-views a,
.vid-cont .top-views .video .bottom-type{
    color: white;
}
.vid-cont .top-views .video .info{
    font-size: 14px;
    color: #ddd;
    height: 20px;
}
.vid-cont .top-views .video .time{
    float: right;
}
.vid-cont .top-views .video .counter{
    float: left;
}
.vid-cont .top-views .video .time i,
.vid-cont .top-views .video .counter i{
    color: rgb(146, 146, 146);
}

/* .vid-cont .carousel .vid-link{
    height: 280px;
} */
.vid-cont .carousel{
    min-height: 280px;
}
.vid-cont .carousel .vid-link video{
    height: 100%;
}
/* ***************************** End video page********************************** */
/* ***************************** start video-player******************************** */
.video-player .player-content{
    margin: 30px auto;
    padding: 20px 50px;
    background-color: #111;
}

.video-player .player-content .type-title{
    height: auto;
}
.video-player .player-content .type-title a{
    color: #999;
}
.video-player .player-content > .row{
    height: 500px;
    overflow: hidden;
}
.video-player .player-content iframe{
    width: 100%;
    height: 100%;
}
.video-player .player-list{
    height: 100%;
    overflow-y: scroll;
}
.video-player .player-list a{
    color: #ccc;
}
.video-player .player-list ul{
    list-style: none;
    padding: 0;
}
.video-player .player-list .list{
    color: #ccc;
    cursor: pointer;
    background-color: #25252566;
    height: 100px;
    margin-bottom: 10px;
}
.video-player .player-list .list:hover{
    background-color: #252525a4;
}

.video-player .player-list video{
    width: 100%;
    height: 100%;
}
.video-player .player-list .list .play{
    position: relative;
}
.video-player .player-list .list .bottom-type{
    color: rgb(95, 94, 94);
}
.video-player .player-list .list .play i{
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: absolute;
    top: 40%;
    right: 45%;
    color: #f8ca2380;
}
.video-player .player-list .list .play:hover i{
    color: #f8c923;;
}
.video-player .player-list .list .text{
    padding: 5px 0;
}
.video-player .player-list .list .text span{
    display: block;
}
/* ***************************** End video-player********************************** */
/* ***************************** start streem ********************************** */
.streem .player-content{
    margin: 0;
    height: 100vh;
    color: #dadada;
    padding: 40px;
    background-color: #151515;
}
.streem .player-content > .row{
    height: 73vh;
}
.streem .player-content > .row .col-12{
    overflow: hidden;
}
.streem .player-content .streem-title{
    margin: 10px;
}
.streem .player-content .streem-title i{
    margin-left: 20px;
    color: red;
}
.streem .player-content .streem-title h4,
.streem .player-content .streem-title h3{
    display: inline-block;
}
.streem .player-content .streem-title .grow-border{
    position: relative;
    color: #dadada;
}
.streem .player-content .streem-title .grow-border span{
    position: absolute;
    bottom: -10px;
    right: 0;
    display: block;
    width: 40%;
    height: 3px;
    background-color: #f8c923;
    transition: all .2s ease-in-out;
}
.streem .player-content .streem-title .grow-border:hover span{
    width: 100%;
}
.streem .player-content iframe{
    height: 94%;
}
.streem .player-list{
    overflow: hidden;
}
.streem .player-list ul{
    margin: 20px auto;
    padding-right: 20px;
    height: 100%;
    overflow-y: scroll;
}
.streem .player-list .prog-details{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.streem .player-list .prog-details:hover{
    background-color: rgba(51, 51, 51, 0.295);
}
.streem .player-list .prog-details span{
    width: 30%;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}
.streem .player-list .prog-details span:nth-of-type(2){
    width: 45%;
}
.streem .player-list .prog-details .prog-time{
    text-align: center;
    width: 20%;
}
.streem .player-list #now{
    background-color: rgba(51, 51, 51, 0.637);
}
.streem .player-list #now .prog-time{
    background-color: #e91818;
    border-radius: 5px;
    font-family: "arBold";
}
.streem .player-list .prog-details .prog-name{
    font-family: "arBold";
}
.streem .other-streem{
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    text-align: center;
}
.streem .other-streem span{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 18px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.streem .other-streem a{
    cursor: pointer;
    margin: 0 10px;
    color: #dadada;
}
.streem .other-streem a:first-of-type:hover{
    color: red;
}
.streem .other-streem a:last-of-type:hover{
    color: #175dad;
}
/* ***************************** End streem********************************** */
/* ***************************** Start img page******************************** */
.img-content{
    margin: 30px auto;
}
.img-content .bottom-type{
    margin: 10px 5px;
}
.img-content .main-img-section{
    background-color: rgb(238, 238, 238);
    border-right: 3px solid #f8c923;
    padding: 10px;
}
.img-content .main-img-section > .row{
    margin: 10px;
}
.img-content .main-img-section .set-height{
    height: 100%;
}
.img-content .main-img-section .image{
    padding: 1px 5px;
}
.img-content .main-img-section .main-image{
    padding: 0
}
.img-content .main-img-section .img-link{
    position: relative;
    height: 100%;
}
.img-content .img-link{
    position: relative;
}

.img-content .main-img-section .img-link img{
    width: 100%;
    height: 100%;
}
.img-content .img-link img{
    width: 100%;
    height: 200px;
}

.img-content .img-link i{
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* padding: 3px 5px; */
    color: #f8ca23cc;
    font-size: 45px;
    margin-top: -20px;
    margin-right: -15px;
    transition: all .2s ease-in-out;
}
.img-content .img-link:hover i{
    color: #f8c923;
}
.img-content .carousel .img-link h5,
.img-content .main-img-section .img-link h5{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    color: white;
    background-image: linear-gradient(0deg, #000000b8, rgba(0,0,0,0.7), rgba(0,0,0,0));
    margin: 0;
}
.img-content .newest-img{
    margin: 30px auto;
}
.img-content .newest-img .image{
    position: relative;
    margin-bottom: 10px;
}
.img-content .newest-img .image::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: auto;
    height: 5px;
    width: calc(100% - 20px);
    border-bottom: 3px solid #f8c923;
    z-index: 1;
    display: none;
}
.img-content .newest-img .image:hover::after{
    display: block;
}
.img-content .newest-img h5{
    color: #333;
}
.img-content .top-views{
    margin: 30px auto;
    background-color: #111;
    padding: 10px;
}
.img-content .top-views > .row{
    padding: 10px;
    margin: 10px;
}
.img-content .top-views .col-6{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
.img-content .top-views .image{
    background-color: rgba(37, 37, 37, 0.301);
    padding: 10px 5px;
    /* height: 300px; */
}
.img-content .top-views .image:hover{
    background-color:rgba(255, 255, 255, 0.089);
}
.img-content .top-views a,
.img-content .top-views .image .bottom-type{
    color: white;
}
.img-content .top-views .image .info{
    font-size: 14px;
    color: #ddd;
    height: 20px;
}
.img-content .top-views .image .time{
    float: right;
}
.img-content .top-views .image .counter{
    float: left;
}
.img-content .top-views .image .time i,
.img-content .top-views .image .counter i{
    color: rgb(146, 146, 146);
}
.img-content .carousel{
    min-height: 280px;
}
.img-content .carousel .img-link img{
    height: 270px;
}
/* ***************************** End img page******************************** */

/******************************* Start Gallary ********************************/
.gallary {
    margin: auto;
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #FFF
}

.gallary .master-img{
    height: 432.5px;
    position: relative;
    background-color:#000
}

.gallary .master-img i{
    position: absolute;
    padding: 8px 5px;
    top: 50%;
    cursor: pointer;
    z-index: 2;
    background-color: #ffffff57;
    border-radius: 5px;
    transition: all .1s ease-in-out;
}
.gallary .master-img i:hover{
    background-color: #ffffff7e;
}

.gallary .master-img .fa-chevron-left{left: 10px}
.gallary .master-img .fa-chevron-right{right: 10px}

.gallary img {
    max-width: 100%;
    height: 100% !important;
}

.gallary .thumbnails {overflow: hidden}

.gallary .thumbnails img {
    float: left;
    border: 2px solid #BBB;
    opacity: .5;
    cursor: pointer;
    margin-top: 3px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.gallary .thumbnails img.sellected {
    border: 3px solid #f8c923;
    opacity: 1
}

/********************************** End Gallary ********************************/
/********************************** start category ********************************/
.cat-content{
    margin: 30px auto;
}
.cat-content input{
    box-shadow: 1px 5px 12px 0 rgb(51 51 51 / 20%);
}
.cat-content .main-cat-section {
    margin: 20px 10px;
}
.cat-content .main-cat-section .type-title{
    margin: 10px 0;
}
.cat-content .all-results > .row,
.cat-content .main-cat-section > .row{
    margin: 0;
}
.cat-content .main-cat-section .news{
    padding: 2px;
    height: 190px;
}
.cat-content .main-cat-section .news .news-title{
    padding: 10px;
}
.cat-content .main-cat-section .news .news-title:hover{
    color: white;
}
.cat-content .all-results{
    margin: 30px auto;
}
.cat-content .all-results .type-title{
    margin-top: 30px;
}
.cat-content .all-results .type-title a{
    color: #6b6b6b;
    font-family: "arReguler";
}
.cat-content .all-results .cont-card{
    padding: 5px;
}
.cat-content .all-results .cont-card .card{
    background-color: whitesmoke;
    height: 100%;
}

.cat-content .all-results .cont-card .card:hover{
    box-shadow: 1px 5px 12px 0 rgb(51 51 51 / 20%);
}
.cat-content .all-results .cont-card .card h5{
    color: #333;
}
.cat-content .most-read{
    margin-top: 0;
}
/********************************** End category ********************************/
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
    .weather .set> .col-md-6{
        width: 100%;
        padding: 0 60px;
    }
    .other .news img{
        height: 100%;
    }
    .other .other-news .events-news-title h6{
        font-size: 14px;
    }
    .opinion .owl-carousel2 .owl-nav{
        display: none;
    }
    .opinion .owl-carousel2 .owl-nav {
        margin-top: -17% !important;
    }
    .youtube-channal .video-list ul li video{
        height: 100%;
    }
    .footer .apps-social .apps{
        width: 60%;
    }
    .footer .apps-social .row .ipad-hiddin{
        width: 0;
    }
    .rights img {
        margin: auto 50px;
    }
    /* video player */
    .my-container .video-player .player-list{
        height: 100% !important;
    }
    .video-player .player-list .list{
        height: auto;
    }
    .video-player .player-list .list .text{
        margin: 5px;
        padding: 5px 10px;
    }
    .streem .player-content > .row .col-12{
        height: 60% ;
    }
    .streem .player-list ul{
        height: 50%;
    }
}
@media only screen
and (min-width: 1024px)
and (max-width: 1366px){
    .navbar-expand-lg .navbar-nav{
        font-size: 14px;
    }
    .navbar-nav .nav-item {
        margin: auto 0px;
    }
    .nav-container .navbar .social .fa-search, .nav-container .navbar .social a{
        display: none;
    }
    .weather{
        height: auto;
    }
    .weather .weather-info img {
        width: 60%;
    }
    .opinion .owl-carousel2 .owl-nav{
        display: block;
    }
    .opinion .owl-carousel2 .owl-nav {
        margin-top: -12% !important
    }
    .opinion .writer-img {
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }
    .opinion .writer-content {
        margin: 10px;
        width: 90%;
    }
    .youtube-channal .video-list .play span {
        left: 17%;
    }
    .video-player .player-list .list{
        height: auto;
    }
    .video-player .player-list .list .text{
        margin: 0;
        padding: 5px 0;
    }
    /* streem */
    .streem .player-list ul{
        height: 100%;
    }
    .img-content .carousel .img-link img{
        height: 200px;
    }
}
@media only screen 
and (max-device-width: 768px){
    .breaking-news .breaking{
        text-align: right;
    }
    .nav-container .logo .circle{
        /* display: none; */
        width: 50px;
        height: 50px;
        margin-right: 10px;
        overflow: visible;
        background-color: transparent;
    }
    .nav-container .logo .circle img {
        width: 152px;
        margin-top: 2px;
        margin-right: 2px;
    }
    .navbar-brand{
        display: none;
    }
    .nav-container .navbar{
        height: auto;
        margin-top: 0;
        padding-right: 0;
    }
    .navbar-nav{
        height: auto;
    }
    .navbar-light .navbar-nav .nav-link{
        margin-right: 10px;
    }
    .nav-container .navbar .social{
        /* margin-right: 50px; */
        margin: auto 20%;
        left: 0;
        position: relative;
    }
    .nav-container .above-links{
        display: none;
    }

    .my-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .main-news .news-title{
        padding: 6px;
        font-size: 10px;
    }

    .latest-news-title, .events .events-news .events-news-title{
        height: 50px;
    }
    /* Start header */
    .header{
        margin: 10px 0;
    }

    /* footer */
    .apps-social .social{
        text-align: center;
    }
    .coins-info{
        border-top: 2px solid #a1b2f147;
        margin: 10px 0;
        padding-top: 10px;
    }

    .weather{
        height: auto;
    }

    .weather .weather-info img{
        width: 65%;
    }
    .weather .weather-info,
    .weather .weather-info p,
    .weather .coins-info .row div{
        font-size: 13px;
    }
    .news-details .img-container img{
        height: auto ;
    }
    .other .news img{
        height: 100%;
    }
    .adds{
        margin: 20px 0;
    }

    .opinion .owl-carousel2 .owl-nav {
        margin-top: -25% !important
    }
    .opinion .owl-carousel2 .owl-nav button{
        padding: 5px 5px;
    }
    
    .opinion .writer-img{
        width: 90%;
        height: 90%;
    }
    .opinion img{
        margin: 15px auto;
    }
    .opinion .writer-content {
        font-size: 14px;
        width: 85%;
        float: right;
    }
    .youtube-channal,
    .youtube-channal .main-video{
        height: auto;
    }
    .youtube-channal .video-list .play span {
        left: 20%;
    }
    .youtube-channal .video-list ul{
        height: 200px;
    }
    .youtube-channal .video-list ul li{
        font-size: 12px;
        height: auto;
    }
    .youtube-channal .video-list ul li .classification{
        margin: 1px 0;
    }
    .rights {
        height: auto;
    }
    /* login page */
    .login-content{
        width: 300px;
    }

    /* video page */
    .vid-cont .main-vid-section .video{
        padding: 1px
    }
    .vid-cont .vid-link video{
        height: 94px;
    }
    .vid-cont .main-vid-section .video .vid-link video{
        height: 80px;
    }
    .vid-cont .main-vid-section .video h5{
        padding: 5px;
    }
    .vid-cont .vid-link i{
        font-size: 25px;
        /* width: 35px; */
    }
    .vid-cont .type,
    .vid-cont h5{
        font-size: 14px;
    }
    .vid-cont .top-views > .row{
        margin: 0;
        padding: 0;
    }
    .vid-cont .top-views .col-6{
        padding: 2px;
    }
    .vid-cont .top-views .video .info{
        font-size: 10px;
    }
    .vid-cont .carousel{
        min-height: auto;
    }
    /* video player */
    .video-player .player-content{
        padding: 10px;
        margin: 10px auto;
    }
    .video-player .player-list{
        height: 70%;
    }
    /* streem */
    .streem .player-content{
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
    .streem .player-list{
        overflow: hidden;
    }
    .streem .player-list .prog-details{
        padding: 5px;
    }
    .streem .player-list .prog-details span{
        padding: 0;
    }
    .streem .player-list ul{
        height: 50%;
    }
    /* img page */
    .img-content .main-img-section .image{
        padding: 1px
    }
    .img-content .img-link img{
        height: 94px;
    }
    .img-content .main-img-section .image h5{
        padding: 5px;
    }
    .img-content .img-link i{
        font-size: 25px;
        /* width: 35px; */
    }
    .img-content .type,
    .img-content h5{
        font-size: 14px;
    }
    .img-content .top-views > .row{
        margin: 0;
        padding: 0;
    }
    .img-content .top-views .col-6{
        padding: 2px;
    }
    .img-content .top-views .image .info{
        font-size: 10px;
    }
    .img-content .carousel{
        min-height: auto;
    }
    .img-content .carousel .img-link img{
        height: 100px;
    }
    /* gallary */
    .gallary .master-img{
        height: 200px;
    }
    .cat-content h5{
        font-size: 16px;
    }
}
